.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
}

.gridLayout{
    height: 90vh;
}

.textContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.textContainer.h1 {
    text-align: left;
}

.signInContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    
}

.signinCard {
    padding: 2rem;
    margin: 2rem;
}