
.gridContainer {
    border: silver solid 1px;
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    margin-right: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 250px;
    font-size: 0.7rem;
    align-content: center;
}