.pageGrid {
    display: grid;
    grid-template-columns: 1fr;
}

.pageGridHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.noMoreQuestions {
        text-align: center;
        height: calc(100vh - 300px);
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
}

