.results {
    width: 80%;
    background-color: #e0f0f0;
    border: silver 1px solid;
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0px 0px 10px #808080;
  }