@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&family=Roboto:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Poppins&family=Roboto:wght@300&display=swap");


html, body {
    background-color: rgb(247, 247, 247);
    font-family: Montserrat;
    scroll-behavior: smooth;
}




div, p, ul, li, span, a {
    font-family: 'Poppins', sans-serif; 
}

h1 {
    font-family: 'Oswald', sans-serif;
}


.page {
    background-color: white;
    width: 80vw;
    margin: auto;
    padding: 2rem;
    border: solid silver 0.5px;
    border-radius: 0.3rem;
}
