.navbar {
    background-color: #E4E5FF;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
   }

   .logo {
      margin-left: 1rem;
      margin-right: 2rem;
   }

   .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      
      color: silver;
      text-align: right;
    }


    .pageLayout{
      width: 80vw;
      margin: auto;
    }