.layout {
    margin: auto;
    width: 80vw;
    padding: 1rem;
}

.sidebar {
    margin-top :2rem;
    padding: 1rem;
}

.mainPage {
    margin-top :2rem;
    padding: 1rem;
}

.link {
    margin: 1rem;
}

.paperLinks {
    border : silver 1px solid;
    font-size: 0.6rem;
}